<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Loader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/complete.css')}}">
</head>
<body>
    <div class="text-container">
        <h2> Transfer Completed </h2>
        <ul>
            <li> Organization (Account) </li>
            <li> Household (Account) </li>
            <li> Contact </li>
        </ul>
    </div>         
</body>
</html>
