<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Loader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css')}}">
</head>
<body>
    <div class="login-container">
        {% if transferData %}
            <div class="text-container">
                <h2> Transfer Completed </h2>
                <ul>
                    <li> Organization (Account) </li>
                    <li> Household (Account) </li>
                    <li> Contact </li>
                </ul>
            </div>      
        {% elif loggedSkyApi and loggedSalesforce %}
            <div class="button-container">
                <button class="altru-login Connected-button connected">Connected with Altru</button>
                <button class="salesforce-login Connected-button connected">Connected with Salesforce</button>
            </div>
            <button class="transfer-data-salesforce transfer-button" onClick = "location.href='/transferData'">Transfer Data to Salesforce</button>
        {% elif loggedSkyApi %}
            <div class="login-button-container">
                <button class="app-button connected"> Connected with Sky API</button>
                <button class="app-button" onclick="location.href='/auth/salesforce'"> Log in with Salesforce</button>
            </div>
        {% elif loggedSalesforce %}
            <div class="login-button-container">
                <button class="app-button" onclick="location.href='/auth/altru'"> Log in with Sky API</button>
                <button class="app-button connected" > Connected with Salesforce</button>
            </div>
        {% else %}
            <div class="login-button-container">
                <button class="app-button" onclick="location.href='/auth/altru'"> Log in with Sky API</button>
                <button class="app-button" onclick="location.href='/auth/salesforce'"> Log in with Salesforce</button>
            </div>
        {% endif %}
    </div>
</body>
</html>
