<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Loader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css')}}">
</head>
<body>
    <div class="login-container">
        <button class="altru-login login-button" onclick="location.href='/auth/altru'">Log in with Altru</button>
        <button class="salesforce-login login-button" onclick="location.href='/auth/salesforce'"> Log in with Salesforce</button>
    </div>
</body>
</html>
