<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Loader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/transferData.css')}}">
</head>
<body>
    <div class="login-container">
        <div class="login-container">
            <div class="button-container">
                <button class="altru-login Connected-button">Connected with Altru</button>
                <button class="salesforce-login Connected-button">Connected with Salesforce</button>
            </div>
            <button class="transfer-data-salesforce transfer-button">Transfer Data to Salesforce</button>
        </div>         
</body>
</html>